<ul>
  <li>
    <input type="checkbox" />
    <div>S</div>
  </li>
  <li>
    <input type="checkbox" />
    <div>I</div>
  </li>
  <li>
    <input type="checkbox" />
    <div>M</div>
  </li>
  <li>
    <input type="checkbox" />
    <div>_</div>
  </li>
  <li>
    <input type="checkbox" />
    <div>T</div>
  </li>
  <li>
    <input type="checkbox" />
    <div>o</div>
  </li>
  <li>
    <input type="checkbox" />
    <div>d</div>
  </li>
  <li>
    <input type="checkbox" />
    <div>o</div>
  </li>
  <li>
    <input type="checkbox" />
    <div>s</div>
  </li>
</ul>
