.h1Title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 48px;
  text-align: center;
}
.buttonAdd {
  border: none;
  background-color: transparent;
  width: 375px !important;
  height: 300px !important;
}
