<head>
  <meta charset="utf-8" />
  <title>SIM_Todos</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
</head>
<body>
  <div class="login-form">
    <div class="text">LOGIN</div>
    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <div class="field">
        <div class="fas fa-envelope"></div>
        <input
          type="email"
          placeholder="sample@sample.com"
          formControlName="username"
        />
      </div>
      <div class="field">
        <div class="fas fa-lock"></div>
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </div>
      <button type="submit">LOGIN</button>
      <div class="link">
        Not a member?
        <a href="/register">Signup now</a>
      </div>
    </form>
  </div>
</body>
