mat-form-field {
  width: 90%;
}

.Update-btn {
  margin: 5px;
}
.Discard-btn {
  margin: 5px;
}
.text-inside {
  position: absolute;
  left: 5px;
  width: 100%;
}

.widthModal {
  min-width: 300px;
}
.assign-user-button {
  width: 100%;
}
