<mat-dialog-content>
  <table mat-table [dataSource]="dataSource">
    <!-- The rest of your columns here -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let user">
        <button mat-button (click)="assignUser(user)">
          <img src="{{ user.picture }}" class="modalPicuture" />
          {{ user.fullName }}
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-dialog-content>
